body{
    background-color: #e4e4e4;
}

h1{
   text-align: center;
   font-size: 35px;
}
#addUser,#showData{
    display: block;
    margin:90px auto;
    width: fit-content;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
#addUser input{
    display: block;
    margin:5px 0 20px 0;
    width: 400px;
    height: 30px;
    outline: none;
    border-radius: 10px;
    
}
#addUser button{
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 150px ;
    font-size: 18px;
}